cleanup = true
resume = true

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$MYSOFTWARE/.nextflow_singularity"
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
}

process {
    beforeScript = '''
        module load singularity/4.1.0-nompi
    '''
    cache = 'lenient'
    stageInMode = 'symlink'
    module = 'singularity/4.1.0-nompi'
    executor = 'slurm'
    clusterOptions = ' -A pawsey0964'
}

executor {
    queueSize=1000
    $slurm {
        pollInterval = '1 min'
        queueStatInterval = '5 min'
    }
    $local {
        pollInterval = '2 sec'
    }
}

params {
    max_cpus = 36
    max_time = 24.h
}

env {
    PYTHONNOUSERSITE = 1
}